body{
    /*background-color: #EEE6DC;*/
}
html{
   scroll-behavior: smooth; 
}


.navbar {
    transition : all 0.5s;
    font-family: 'Roboto', sans-serif;
}

.navbar a {
    color: white;
}

.navbar a:hover {
    color: chocolate;
}

.navbar-scrolled {
    background-color: black;
    box-shadow      : 0 3px 10px rgba(0, 0, 0, 0.15);
}

section.home {
    display: block;
    width  : 745px;

}

.hero {
    position        : relative;
    height          : 100vh;
    background-color: blue;
    overflow        : hidden;
}

.hero-bg-home {
    position  : absolute;
    top       : 50%;
    left      : 50%;
    min-width : 100%;
    min-height: 100%;
    width     : auto;
    height    : auto;
    transform : translateX(-50%) translateY(-50%);
}


.container-custom {
    width: 100%;
    padding: 0 2rem;
    margin: 0 auto;
  }
  
  @media (min-width: 1200px) {
    .container-custom { width: 1140px; }
  }
  
  @media (min-width: 1400px) {
    .container-custom { width: 1340px; }
  }
  
  @media (min-width: 1600px) {
    .container-custom { width: 1520px; }
  }
  


.text-white h1 {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size  : 65px;
    color      : #FF9B05;
}

div.olshop img {
    width       : 40px;
    aspect-ratio: 1;
    margin-right: 10px;
}

.hero__scroll-btn {
    position: absolute;
    left: 50%;
    bottom: 30px;
    transform: translateX(-50%);
    z-index: 1;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    width: 15px;
  }

  .hero__scroll-btn:hover {
    color: white;
    opacity: 0.8;
  }
  
  .hero__scroll-btn .bi {
    transition-delay: 0.8s;
    animation: bounce 1s infinite alternate;
  }
  
   
  @keyframes bounce {
    from {
      transform: translateY(0px);
    }
    to {
      transform: translateY(-10px);
    }
  }
  

  section.about-us{
    max-width: 80%;
    padding-top: 80px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  section.about-us h2 {
    margin-bottom: 30px;
    width: 100%;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 50px;
 }
 section.about-us p{
    margin-bottom: 30px;
    font-family: 'Roboto', sans-serif;
 }
 
 section.about-us img {
    /* 
       Penulisan width: 800px dan max-width: 100% mengatur agar
       elemen memiliki lebar 800px namun tidak boleh melebihi 100% ukuran layar
    */
    width: 800px;
    max-width: 100%;

    margin: auto;
 }

 section.about-us p:nth-child(2) {
    margin-bottom: 40px;

 }
 
 section.about-us p:nth-child(4) {
    margin-top: 40px;
 }

 section.about-us::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 76px;
 
    /* background-image untuk menambahkan gambar sebagai background */
    background-image: url(../images/background/garis-atas.png);
 
    /*background-size agar gambar latar menyesuaikan tinggi / lebar elemen */
    background-size: cover;
 
    top: -60px;
    left: 0;
 }
 
 section.about-us::after {
    height: 60px;
    background-image: url(../images/background/garis-bawah.png);
    top: unset;
    bottom: -60px;
 }