html {
    scroll-behavior: smooth;
}

/* style costum*/
.container-custom {
    width  : 100%;
    padding: 0 2rem;
    margin : 0 auto;
}

@media (max-width:600px) {

    a.shop {
       margin-right: 20px;
       margin-left: auto;
    }
 
    div.produk,
    div.team,
    div.kontak {
       width: 50%;
    }
    section.our-team.row{
        width: 100%;
    }
    section.best-seller.produk{
        width: 50%;
    }
 
    div.testimoni {
       width: 100%;
       margin-bottom: 30px;
    }
 }

@media (min-width: 1200px) {
    .container-custom {
        width: 1140px;
    }
}

@media (min-width: 1400px) {
    .container-custom {
        width: 1340px;
    }
}

@media (min-width: 1600px) {
    .container-custom {
        width: 1520px;
    }
}

/* style navbar*/
.navbar {
    transition : all 0.5s;
    font-family: 'Roboto', sans-serif;
}

.navbar a {
    color: white;
}

.navbar a:hover {
    color: chocolate;
}

.navbar-scrolled {
    background-color: black;
    box-shadow      : 0 3px 10px rgba(0, 0, 0, 0.15);
}

section.home {
    display: block;
    width  : 745px;

}

/* style home*/
.hero {
    position: relative;
    height  : 100vh;
    overflow: hidden;
}

.hero-bg-home {
    position  : absolute;
    top       : 50%;
    left      : 50%;
    min-width : 100%;
    min-height: 100%;
    width     : auto;
    height    : auto;
    transform : translateX(-50%) translateY(-50%);
}

.text-white h1 {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size  : 65px;
    color      : #FF9B05;
}

div.olshop img {
    width       : 40px;
    aspect-ratio: 1;
    margin-right: 10px;
}

.hero__scroll-btn {
    position       : absolute;
    left           : 50%;
    bottom         : 30px;
    transform      : translateX(-50%);
    z-index        : 1;
    color          : white;
    display        : flex;
    flex-direction : column;
    align-items    : center;
    text-decoration: none;
    width          : 15px;
}

.hero__scroll-btn:hover {
    color  : white;
    opacity: 0.8;
}

.hero__scroll-btn .bi {
    transition-delay: 0.8s;
    animation       : bounce 1s infinite alternate;
}

@keyframes bounce {
    from {
        transform: translateY(0px);
    }

    to {
        transform: translateY(-10px);
    }
}

/* style about us*/
section.about-us {
    max-width     : 80%;
    padding-top   : 80px;
    margin-left   : auto;
    margin-right  : auto;
    text-align    : center;
    margin-bottom : 0px;
    padding-bottom: 80px;
}

section.about-us h2 {
    margin-bottom: 30px;
    width        : 100%;
    font-family  : 'Yanone Kaffeesatz', sans-serif;
    font-size    : 50px;
}

section.about-us p {
    margin-bottom: 30px;
    font-family  : 'Roboto', sans-serif;
}

section.about-us img {
    width    : 800px;
    max-width: 100%;
    margin: auto;
}

section.about-us p:nth-child(2) {
    margin-bottom: 40px;

}

section.about-us p:nth-child(4) {
    margin-top: 40px;
}

section.about-us::after {
    position: absolute;
    content : "";
    width   : 100%;
    height  : 76px;
    background-image: url(../images/background/garis-atas.png);
    background-size: cover;
    top : -60px;
    left: 0;
}

section.about-us::after {
    height          : 60px;
    background-image: url(../images/background/garis-bawah.png);
    top             : unset;
    bottom          : -60px;
}

/* style best seller*/
section.best-seller {
    padding-top     : 80px;
    background-image: url(../images/background/best-seller.png);
    top             : 50%;
    left            : 50%;
    min-width       : 100%;
    min-height      : 100%;
    width           : auto;
    height          : auto;
    text-align      : center;
    margin-top      : 50px;
    margin-bottom   : 100px;
    padding-bottom  : 50px;

}

section.best-seller p {
    font-size    : 18px;
    margin-bottom: 40px;
    width        : 100%;
}

section.best-seller h2 {
    margin-top : 15px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size  : 50px;
}

div.produk {
    padding: 20px;
    width  : 25%;
}

div.produk img {
    transition: all 0.3s ease;
    border-radius: 15px;
    box-shadow: 0 3px 10px -2px #f5e6bd;
}

div.produk img:hover {
    transform    : scale(0.9);
    border-radius: 50%;
}

div.produk p {
    color     : white;
    margin-top: 10px;

}

/* style our team*/
section.our-team {

    text-align   : center;
    margin-top   : 80px;
    margin-bottom: 100px;
    padding-top  : 80px;
}

section.our-team h2 {
    margin-bottom: 20px;
    font-family  : 'Yanone Kaffeesatz', sans-serif;
    font-size    : 50px;
    width        : 100%;
}

section.our-team>p {
    margin-bottom: 30px;
    font-family  : 'Roboto', sans-serif;
    font-size    : 18px;
    width        : 800px;
    max-width    : 90%;
    margin-left  : auto;
    margin-right : auto;
    width        : 100%;
}

div.team {
    width  : 25%;
    padding: 20px;
}

div.team img {
    width        : 100%;
    aspect-ratio : 1/1;
    object-fit   : cover;
    box-shadow   : 0 3px 10px -2px #000;
    border-radius: 50px;
    margin-bottom: 10px;
}

div.team h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

/* style review*/
section.review {
    background-image  : url(../images/background/bg-review.svg);
    background-size   : contain;
    background-repeat: no-repeat;
    padding-left     : 40px;
    padding-right    : 40px;
    justify-content  : space-around;
    align-items      : stretch;
    text-align       : center;
    display          : flex;
    flex-wrap        : wrap;
    margin-bottom    : 100px;
    margin-top       : 100px;
    padding-top      : 100px;
}

section.review h2 {
    margin-bottom: 20px;
    width        : 100%;
    font-family  : 'Yanone Kaffeesatz', sans-serif;
    font-size    : 50px;
}

section.review>p {
    margin-bottom: 40px;
    font-size    : 18px;
    width        : 100%;
}

div.testimoni {
    width           : 30%;
    display         : flex;
    flex-wrap       : wrap;
    padding         : 35px 50px;
    box-shadow      : 0px 0px 12px -10px #000;
    background-color: #fff;
}

div.testimoni img {
    width       : 60px;
    height      : 60px;
    margin-right: 15px;
    object-fit  : cover;
}

div.profile {
    text-align   : left;
    display      : block;
    margin-bottom: 30px;
    width        : calc(100% - 75px);
}

div.profile h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

div.profile p {
    width     : 100%;
    text-align: left;
}

div.testimoni>p {
    width     : 100%;
    text-align: left;
}

/* style footer*/
.footer {
    background: linear-gradient(rgba(8, 8, 8, 0.9), rgba(8, 8, 8, 0.9)), url(../images/img/bg.jpg);
}

section.contact-us iframe {
    width : 100%;
    height: 300px;
    border: 0;
}

.w-100 {
    width: 100%;
}

.input-group>.form-control,
.input-group>.form-control-plaintext,
.input-group>.custom-select,
.input-group>.custom-file {
    position     : relative;
    flex         : 1 auto;
    width        : 1%;
    min-width    : 0;
    margin-bottom: 0;
}

.input-group {
    position   : relative;
    display    : flex;
    flex-wrap  : wrap;
    align-items: stretch;
    width      : 100%;
}