.navbar {
    transition : all 0.5s;
    font-family: 'Roboto', sans-serif;
}

.navbar a {
    color: white;
}

.navbar a:hover {
    color: chocolate;
}

.navbar-scrolled {
    background-color: black;
    box-shadow      : 0 3px 10px rgba(0, 0, 0, 0.15);
}

section.home {
    display: block;
    width  : 745px;

}

.hero {
    position        : relative;
    height          : 100vh;
    background-color: blue;
    overflow        : hidden;
}

.hero-bg-home {
    position  : absolute;
    top       : 50%;
    left      : 50%;
    min-width : 100%;
    min-height: 100%;
    width     : auto;
    height    : auto;
    transform : translateX(-50%) translateY(-50%);
}


.container-custom {
    width: 100%;
    padding: 0 2rem;
    margin: 0 auto;
  }
  
  @media (min-width: 1200px) {
    .container-custom { width: 1140px; }
  }
  
  @media (min-width: 1400px) {
    .container-custom { width: 1340px; }
  }
  
  @media (min-width: 1600px) {
    .container-custom { width: 1520px; }
  }
  




.text-white h1 {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size  : 65px;
    color      : #FF9B05;
}

div.olshop img {
    width       : 40px;
    aspect-ratio: 1;
    margin-right: 10px;
}